

{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h1>Update Article</h1>
        </div>
        <div class="col-md-6 text-end">
            <a href="{% url 'list_of_article' %}" class="btn btn-link">
                Back to list
            </a>
        </div>
    </div>
    <div class="row">
        <div class="colmd-12">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                 {% for field in form %}    
                    <div class="form-group">
                        <label for="" class="form-label">
                            {{ field.label}}
                        </label>
                    
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="d-grid mt-2">
                    <button class="btn btn-info" type="submit"><i class="bi bi-pen-fill"></i> Update Article</button>
                </div>
            </form>
           
        </div>
    </div>
</div>
{% endblock %}